.card {
    padding: 10px;
}

.input-group {
    span {
        width: 30%;
    }
    select {
        width: 70%;
    }
}

.separate-top {
    margin-top: 16px;
}

.separate-bottom {
    margin-bottom: 16px;
}

.spinner-border {
    margin-left: 15px;
}